<h1>Your Profile</h1>
<h3>Name</h3>
<%= @profile.name %>
<br />
<h3>About Me:</h3>
<%= @profile.bio %>
<br />
<h3>Interests: </h3>
<%= @profile.interests %>
<br />
<h3>Review History</h3>
<%if @profile.account.reviews.count > 0 %>
<%@profile.account.reviews.each do |review|%>
<%=review.content%>
<%end%>
<%else%>
You have not reviewed anything.
<%end%>
<br />
<br />
<h4><a href = '/profile/edit'>Edit Profile</a></h4>
<h5><%= link_to "Delete Account", close_account_path %></h5>
