<div class="col-md-4">
</div>
<div class="col-md-4">
  <%if logged_in?%>
<% if @profile == current_user.profile %>
  <h1 style="text-align: center;">Your Profile</h1>
    <h4><a href = '/profile/edit'>Edit Profile</a> | <%= link_to "Delete Account", close_account_path %></h5>
      <%end%>
<% else %>
  <h1 style="text-align: center;"><%= "#{@profile.account.user_name}'s Profile" %></h1>
<% end %>
<div class="blackout">
  <%link_to "Return Home", home_path%>
  <div class="search-header-box">
  <h3 style="text-align: left;">Name:</h3><h5 style="text-indent:50px; text-align: left;"><%= @profile.name %></h5>
    </div>
  <div class="search-header-box">
  <h3 style="text-align: left;"> Biography: </h3><h5 style="text-indent:50px; text-align: left;">  <%= @profile.bio %></h5>
  </div>
  <div class="search-header-box" style="text-align: left;">
  <h3>Interests:</h3><h5 style="text-indent:50px; text-align: left;"><%= @profile.interests %></h5>
  </div>
  </div>
  </div>
  <div class="col-md-4">
  </div>

  <div class="col-md-12">
    <%if logged_in?%>
<%if @profile != current_user.profile%>
  <%= link_to "View #{@profile.account.user_name}'s friends", friends_path(@profile.account.id)%><br />
  <%if !current_user.friends.any?{|friend| friend.friend == @profile.account}%>
    <%=link_to 'Add Friend', add_friend_path(@profile.account.id)%>
    <%end%>
  <%else%>
    <%=link_to 'Remove Friend', remove_friend_path(@profile.account.id)%>
  <%end%>
<%end%>
<br>
<h3>Review History</h3>
<h5>Total Points: <%= @profile.account.vote_total%></h5>

<%if !@profile.account.reviews.empty? %>
  <%= render partial: "profiles/review", collection: @profile.account.reviews %>
<%else%>
  You have not reviewed anything.
<%end%>
  </div>
