<h1><%= @profile == current_user.profile ? "Your" : "#{@profile.account.user_name}'s" %> Profile</h1>
<h3>Name</h3>
<%= @profile.name %>
<br>
<h3>Biography:</h3>
<%= @profile.bio %>
<br>
<h3>Interests: </h3>
<%= @profile.interests %>
<br>

<%if @profile != current_user.profile%>
  <%if !current_user.friends.any?{|friend| friend.friend == @profile.account}%>
    <%=link_to 'Add Friend', add_friend_path(@profile.account.id)%>
  <%else%>
    <%=link_to 'Remove Friend', remove_friend_path(@profile.account.id)%>
  <%end%>
<%end%>
<br>
<h3>Review History</h3>
<h5>Total Points: <%= @profile.account.vote_total%></h5>

<%if !@profile.account.reviews.empty? %>
  <%= render partial: "reviews/review", collection: @profile.account.reviews %>
<%else%>
  You have not reviewed anything.
<%end%>

<br><br>

<% if @profile == current_user.profile %>
  <h4><a href = '/profile/edit'>Edit Profile</a></h4>
  <h5><%= link_to "Delete Account", close_account_path %></h5>
<% end %>
