<h1><%= @profile.account.user_name %>'s Profile</h1>
<h3>Name</h3>
<%= @profile.name %>
<br />
<h3>Biography:</h3>
<%= @profile.bio %>
<br />
<h3>Interests: </h3>
<%= @profile.interests %>
<br />
<h3>Review History</h3>
<h5>Total Points: <%= @profile.account.vote_total%></h5>
<%if @profile.account.reviews %>
<% @profile.account.reviews.each do |review|%>
<strong>Song:</strong> <%=link_to review.song.name, song_path(review.song) %>
<strong>Rating:</strong> <%=review.song_score%> Stars <br />
<strong>Review:</strong> <%=review.content%><br />
<strong>Review Score:</strong> <%=review.vote_sum%><br />
<br /><br>
<%end%>
<%else%>
You have not reviewed anything.
<%end%>
<br />
<br />
