<div class="container-fluid blackout">
  <div class="row" id="profile-row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4 profile_box">
      <% if logged_in? %>
        <% if @profile == current_user.profile %>
          <h1 class="profile_title">Your Profile</h1>
          <h4 class="text-center"><a href = '/profile/edit'>Edit Profile</a> | <%= link_to "Delete Account", close_account_path %></h4>
        <% else %>
          <h1 class="profile_title"><%= "#{@profile.account.user_name}'s Profile" %></h1>
          <h4 style="text-align: center"><%= link_to "View #{@profile.account.user_name}'s Friends", friends_path(@profile.account.id)%></h4>
          <%if !current_user.friends.any?{|friend| friend.friend == @profile.account}%>
            <h4 style="text-align: center;"><%=link_to 'Add Friend', add_friend_path(@profile.account.id)%></h4>
          <%else%>
            <h4 style="text-align: center;">  <%=link_to 'Remove Friend', remove_friend_path(@profile.account.id)%></h4>
          <%end%>
        <%end%>
      <% end %>
      <div class="profile_info">
        <h3>Name:</h3>
        <h5 class="info"><%= @profile.name %></h5>
        <br>
        <h3>Biography:</h3>
        <h5 class="info">  <%= @profile.bio %></h5>
        <br>
        <h3>Interests:</h3>
        <h5 class="info"><%= @profile.interests %></h5>
      </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-5 reviews_display text-center">
      <div class="review_title">
        <h1>Review History</h1>
        <h4 >Koko Points: <%= @profile.account.vote_total%></h5>
      </div>
      <div class="review_box_content"><%@profile.account.reviews.each do |review|%>
              <div id="review_<%= review.id %>" class="row review_box">
                <div class="row">
                  <div class="col-md-6 review_box_content">
                    <h4><%= link_to review.song.artist.name, artist_path(review.song.artist) %></h4>
                    <h5><%= link_to review.song.name, song_path(review.song) %></h5>
                  </div>
                  <div class="col-md-6 review_box_content">
                    <%= render partial: '/application/stars', locals: {score: review.song_score} %><br>
                    <%= review.content%> <br>
                    <br>Votes: <%= review.vote_sum %>
                  </div>
                </div>
              </div>
          <%end%>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
