<h1><%= @profile.account.user_name %>'s Profile</h1>
<h3>Name</h3>
<%= @profile.name %>
<br />
<h3>Biography:</h3>
<%= @profile.bio %>
<br />
<h3>Interests: </h3>
<%= @profile.interests %>
<br />
<h3>Review History</h3>
<%if @profile.account.reviews %>
<% @profile.account.reviews.each do |review|%>
<%=review.content%>
<%end%>
<%else%>
You have not reviewed anything.
<%end%>
<br />
<br />
