<h1><%=@artist.name%>'s Top Songs</h1>
<br>
<table class ="table">
  <thead>
    <tr>
      <th>
        <h3>Song Name</h3>
      </th>
      <th>
        <h3>Average Review Score</h3>
      </th>
      <th>
       <h3>Last Review</h3>
     </th>
   </tr>
  </thead>
  <tbody>
    <%@artist_songs_ordered_by_review.each do |song, score|%>
        <tr>
          <td>
            <h4>
              <%= link_to song.name, song_path(song)%>
            </h4>
          </td>
          <td>
             <h4><%=score.round(2)%></h4>
          </td>
          <td>
            <p>Reviewer: <%=link_to song.reviews.last.account.user_name, show_profile_path(song.reviews.last.account)%></p>
            <p>Score: <%=song.reviews.last.song_score%></p>
            <p>Content: <%=song.reviews.last.content%></p>
            <p>Posted On:<%=song.reviews.last.created_at.strftime("%l:%M %P, %B %-d, %Y")%></p>
          </td>
        </tr>
    <%end%>
  </tbody>
</table>
