<div class="container-fluid blackout">
  <h1 class="results-header">Koko Users That Matched Your Search</h1>
  <br>

  <%if @accounts.count > 0%>
    <div class="col-md-2 friend-search-results">
      <% @accounts.each_with_index do |account, i| %>
        <h4><%= link_to account.user_name, show_profile_path(account)%></h4>
      <%end%>
    </div>
  <%else%>
    <h4 class="friends-no-results">There are no users with that name on Koko. Search again below.</h4>
    <div class="search-form-center friends-re-search">
      <%= form_tag('/friends/search', id: "search-form-3", method: :post) do %>
        <%= text_field_tag "friend_search", nil, id: "search-field-3", class:"search-field", placeholder: "Search for Koko Users!"%>
        <%= button_tag type: 'submit', id: "search-submit-3", class:"search-submit", disabled: "disabled" do %>
          <%= icon('search', class: "fa-2x") %>
        <%end%>
      </div>
    <%end%>
  <%end%>
</div>
