<span>
  <%=form_tag song_review_vote_path(song, review), class: vote_score == 1 ? "votes-form selected-up" : "votes-form", method: "PATCH" do %>
    <%=hidden_field_tag "review_id", review.id %>
    <%=hidden_field_tag "vote", vote_score == 1 ? 0 : 1 %>
    <%= button_tag type: 'submit' do %>
     <%= icon('thumbs-up') %>
    <% end %>
  <% end%>

  <%=form_tag song_review_vote_path(song, review), class: vote_score == -1 ? "votes-form selected-down" : "votes-form", method: "PATCH" do %>
    <%=hidden_field_tag "review_id", review.id %>
    <%=hidden_field_tag "vote", vote_score == -1 ? 0 : -1%>
    <%= button_tag type: 'submit' do %>
     <%= icon('thumbs-down', class: "fa-flip-horizontal") %>
    <% end %>
  <% end%>
</span>

<h5><%= vote_score %></h5>
