<h1><%= @song.name %></h1>
<h2><%= @song.artist_name %></h2>

<iframe src="https://embed.spotify.com/?uri=<%=@song.play_url%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
<%if @song.reviews.count == 0%>
<p>
  No one has reviewed this song yet. <%= link_to "Be the first.", new_song_review_path(@song) %>
</p>
<%else%>
<h4><%= link_to "Add Your Own Review", new_song_review_path(@song) %></h4>
Reviews: <br>
<%@song.reviews.each do |review|%>
  <%= review.song_score %> Stars <br>
  Review by: <%= link_to review.account.user_name, show_profile_path(review.account) %> <br>
  <%= review.content%> <br><br>
<%end%>
<%end%>
