<script type="text/javascript">
  $(document).ready(function() {
    $("#add_review").click(function() {
      $("#new_review_form").show();
      $("#add_review").hide();
    })
  })
</script>

<h1><%= @song.name %></h1>
<h2><%= link_to @song.artist.name, artist_path(@song.artist)%></h2>

<iframe src="https://embed.spotify.com/?uri=<%=@song.play_url%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  <div>
    <% if logged_in? && !current_user.reviews.any? { |review| review.song_id == @song.id } %>
      <br>
      <button id="add_review">Add New Review</button>
      <div id="new_review_form" style="display:none">
        <h4>New Review:</h4><br>
        <%= render partial: '/reviews/form', locals: {song: @song, review: @review} %>
      </div>
    <% elsif !logged_in? %>
      <h4><%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_registration_path %> to Review</h4>
    <% end %>
  </div>

  <%if @song.reviews.count == 0%>
    <br>
    <p>
      No one has reviewed this song yet.
    </p>
  <% else %>
  <h3>Reviews:</h3> <br>
  <%@song.reviews.each do |review|%>
      <div id="review_<%= review.id %>">
        <%= review.song_score %> Stars <br>
        Review by: <%= link_to review.account.user_name, show_profile_path(review.account) %> <%if review.account != current_user%> | <%if !current_user.friends.include?(review.account)%> <%=link_to 'Add Friend', add_friend_path(review.account.id)%><%else%><%=link_to 'Remove Friend', remove_friend_path(review.account.id)%><%end%><%end%><br>
        <%= review.content%> <br>

        <% if review.account.id == current_user.id %>
        <%= link_to 'Edit', edit_song_review_path(@song,review) %> <br>
        <%= link_to 'Delete', destroy_song_review_path(@song,review), method: 'delete' %><br>
        <% end %>

        <% if !current_user.voted?(review.id)%>
          <%=form_tag song_review_vote_path(@song, review) do %>
          <%=hidden_field_tag "review_id", review.id %>
          <%=radio_button_tag "vote", 1%> Up Vote<br>
          <%=radio_button_tag "vote", 0%> Neutral<br>
          <%=radio_button_tag "vote", -1%>Down Vote<br/>
          <%=submit_tag "Vote!" %>
          <% end%>

        <% else %>
          <%=form_tag song_review_vote_path(@song, review), method: "PATCH" do %>
          <%=hidden_field_tag "review_id", review.id %>
          <%=radio_button_tag "vote", 1, current_user.voted_score(review.id) == 1%> Up Vote<br>
          <%=radio_button_tag "vote", 0, current_user.voted_score(review.id) == 0 %> Neutral<br>
          <%=radio_button_tag "vote", -1, current_user.voted_score(review.id) == -1 %>Down Vote<br />
          <%=submit_tag "Vote!" %>
          <% end %>

        <% end %>
        <%= "Votes: #{review.vote_sum}" %>
      <br><br>
  <%end%>
<%end%>
