<script type="text/javascript">
  $(document).ready(function() {
    $("#add_review").click(function() {
      $("#review_form").show();
      $("#add_review").hide();
    })
    $("#edit_review").click(function() {
      $("#edit_form").show();
      $("#my_review").hide();
    })
  })
</script>

<h1><%= @song.name %></h1>
<h2><%= link_to @song.artist.name, artist_path(@song.artist)%></h2>

<iframe src="https://embed.spotify.com/?uri=<%=@song.play_url%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  <div>
    <% if logged_in? && !current_user.reviews.any? { |review| review.song_id == @song.id } %>
      <br>
      <button id="add_review">Add New Review</button>
      <div id="review_form" style="display:none">
        <h4>New Review:</h4><br>
        <%= render partial: '/reviews/form', locals: {song: @song, review: @review} %>
      </div>
    <% elsif !logged_in? %>
      <h4><%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_registration_path %> to Review</h4>
    <% end %>
  </div>

  <% if @song.reviews.count == 0%>
    <br>
    <p>
      No one has reviewed this song yet.
    </p>
  <% else %>

    <% if logged_in? %>
        <% my_review = my_review_for_song(@song, current_user) %>
    <% else %>
        <% my_review = nil %>
    <% end %>

    <% if !!my_review %>
      <div id="my_review">
        <h3>My Review:</h3>
        <%= my_review.song_score %> Stars <br>
        Review by: <%= link_to my_review.account.user_name, show_profile_path(my_review.account) %> <br>
        <%= my_review.content%> <br>

        <a id="edit_review"style="cursor:pointer">Edit</a><br>
        <%= link_to 'Delete', destroy_song_review_path(@song,my_review), method: 'delete' %><br>

      <% if !current_user.voted?(my_review.id)%>
        <%=form_tag song_review_vote_path(@song, my_review) do %>
        <%=hidden_field_tag "review_id", my_review.id %>
        <%=radio_button_tag "vote", 1%> Up Vote<br>
        <%=radio_button_tag "vote", 0%> Neutral<br>
        <%=radio_button_tag "vote", -1%>Down Vote<br/>
        <%=submit_tag "Vote!" %>
        <% end%>

      <% else %>
        <%=form_tag song_review_vote_path(@song, my_review), method: "PATCH" do %>
        <%=hidden_field_tag "review_id", my_review.id %>
        <%=radio_button_tag "vote", 1, current_user.voted_score(my_review.id) == 1%> Up Vote<br>
        <%=radio_button_tag "vote", 0, current_user.voted_score(my_review.id) == 0 %> Neutral<br>
        <%=radio_button_tag "vote", -1, current_user.voted_score(my_review.id) == -1 %>Down Vote<br />
        <%=submit_tag "Vote!" %>
        <% end %>
      <% end %>
      <%= "Votes: #{my_review.vote_sum}" %>

      <br><br>
    </div>
    <div id="edit_form" style="display:none">
      <h3>Edit Your Review:</h3><br>
      <%= render partial: '/reviews/form', locals: {song: @song, review: my_review} %>
    </div>
  <% end %>

  <h3>Reviews:</h3>
  <%@song.reviews.each do |review|%>
    <% unless review == my_review %>
        <div id="review_<%= review.id %>">
          <%= review.song_score %> Stars <br>
          Review by: <%= link_to review.account.user_name, show_profile_path(review.account) %> | <%if !current_user.friends.any?{|friend| friend.friend == review.account}%><%=link_to 'Add Friend', add_friend_path(review.account.id)%><%else%><%=link_to 'Remove Friend', remove_friend_path(review.account.id)%><%end%><br>
          <%= review.content%> <br>

          <% if !current_user.voted?(review.id)%>
            <%=form_tag song_review_vote_path(@song, review) do %>
            <%=hidden_field_tag "review_id", review.id %>
            <%=radio_button_tag "vote", 1%> Up Vote<br>
            <%=radio_button_tag "vote", 0%> Neutral<br>
            <%=radio_button_tag "vote", -1%>Down Vote<br/>
            <%=submit_tag "Vote!" %>
            <% end%>

          <% else %>
            <%=form_tag song_review_vote_path(@song, review), method: "PATCH" do %>
            <%=hidden_field_tag "review_id", review.id %>
            <%=radio_button_tag "vote", 1, current_user.voted_score(review.id) == 1%> Up Vote<br>
            <%=radio_button_tag "vote", 0, current_user.voted_score(review.id) == 0 %> Neutral<br>
            <%=radio_button_tag "vote", -1, current_user.voted_score(review.id) == -1 %>Down Vote<br />
            <%=submit_tag "Vote!" %>
            <% end %>

          <% end %>
          <%= "Votes: #{review.vote_sum}" %>
        <br><br>
      <% end %>
  <%end%>
<% end %>
