<div class="container-fluid">
<div class="row">
  <%if logged_in?%>

  <!-- Trending Songs -->

  <div class="col-md-4 trending-songs-wrapper">
      <div class="row">
        <div class="col-md-12"><h1 class="dashboard-title">Trending Songs</h1></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 class="dashboard-sub-title">
              Song
          </h4>
         </div>
      <div class="col-md-6">
          <h4 class="dashboard-sub-title">
             Koko's Score
          </h4>
      </div>
      </div>
      <div class="row">
      <%@ordered_songs_hash.each do |song, score|%>
            <div class="col-md-6">
              <p class="dashboard-text">
                <%=link_to song.name, song_path(song)%>
              </p>
            </div>
              <div class="col-md-6">
              <p class="dashboard-text">
                <%=score%>
              </p>
              </div>
          <%end%>
        </div>
      </div>

  <!-- Friends Activity  -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h1 class="dashboard-title">Friend Activity</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4 class="dashboard-sub-title">Song</h4>
         </div>
         <div class="col-md-4">
          <h4 class="dashboard-sub-title">What They're Saying</h4>
         </div>
         <div class="col-md-4">
          <h4 class="dashboard-sub-title">Their Score</h4>
         </div>
      </div>

      <div class="row">
        <%if @friends_reviews.count > 0%>
            <%@friends_reviews.each do |review|%>
              <div class="col-md-4">
                <p class="dashboard-text">
                  <%=link_to review.song.name, song_path(review.song)%>
                </p>
              </div>
              <div class="col-md-4">
                <p class="dashboard-text-left">
                    <%= review.content%>
                    <br>
                    Reviewer: <%=link_to review.account.user_name, show_profile_path(review.account)%>
                </p>
              </div>
              <div class="col-md-4">
              <p class="dashboard-text">
                <%= review.song_score%> Star
              </p>
            </div>
            <%end%>
        <%else%>
          <div class="col-md-12">
            <p class="dashboard-no-result">Add Friends to unlock this feature!</p>
          </div>
        <%end%>
      </div>
      </div> <!-- col md 4 -->

<!-- Influencers Picks' -->

<div class="col-md-4">
    <div class="row">
      <div class="col-md-12"><h1 class="dashboard-title">Influencer's Picks</h1></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4 class="dashboard-sub-title">
            Song
        </h4>
       </div>
    <div class="col-md-4">
        <h4 class="dashboard-sub-title">
           What They're Saying
        </h4>
    </div>
    <div class="col-md-4">
        <h4 class="dashboard-sub-title">
           Their Score
        </h4>
    </div>
    </div>
    <div class="row">
    <%@final_array.each do |reviewer|%>
          <div class="col-md-4">
            <p class="dashboard-text">
            <%= link_to reviewer[1].song.name, song_path(reviewer[1].song)%>
            </p>
          </div>
            <div class="col-md-4">
            <p class="dashboard-text">
              <%= link_to reviewer[0].user_name, show_profile_path(reviewer[0]) %><br />
              <%= reviewer[1].content%>
            </p>
            </div>
            <div class="col-md-4">
            <p class="dashboard-text">
              <%= reviewer[1].song_score%> Stars
            </p>
            </div>
        <%end%>
      </div>
</div>

<!-- If User Not Logged In -->

<%else%>

<div class="row">
  <div class="col-md-12">
    <h1>Trending Songs</h1>
  </div>
</div>
<div class="row">
    <%@ordered_songs_hash.each do |song, score|%>
    <div class="col-md-6">
      <p class="dashboard-no-result">Song</p>
    </div>
    <div class="col-md-6">
      <p class="dashboard-no-result">Koko's Score</p>
    </div>
    <%end%>
  </div>
<div class="row">
    <%@ordered_songs_hash.each do |song, score|%>
    <div class="col-md-6">
      <p class="dashboard-no-result"><%=link_to song.name, song_path(song)%></p>
    </div>
    <div class="col-md-6">
      <p class="dashboard-no-result"><%=score%></p>
    </div>
    <%end%>
  </div>
</div> <!-- big row -->
<%end%>

</div> <!-- container fluid -->
