<div class="container-fluid blackout">
  <div class="row">
    <%if logged_in?%>

    <!-- Trending Songs -->
    <div class="col-md-4 trending-songs-wrapper">
      <%= render partial: "influencer_picks", locals: {influencers_last_good_review: @influencers_last_good_review} %>
    </div>
    <!-- Friends Activity  -->
    <div class="col-md-8 right-div">
      <div class="col-md-12 dashboard-right-col">
        <%= render partial: "friends_activity", locals: {friends_reviews: @friends_reviews} %>

      <!-- Suggestions -->
        <%= render partial: "suggestions", locals: {final_array: @suggested_array} %>
      </div>
    </div>

    <!-- If User Not Logged In -->


    <%else%>

      <!--- Trending Songs --->

      <div class="col-md-3 trending-songs-wrapper">
        <%= render partial: "influencer_picks", locals: {influencers_last_good_review: @influencers_last_good_review} %>
      </div>
      <!--- log in --->

      <div class="col-md-9 right-div">
        <div class="col-md-12">
        <div class="dash-search">
          <div class="row">
            <h3 class="pitch" id="pitch-1">Log in for personalized suggestions</h3>
            <h3 class="pitch" id="pitch-2">/ or /</h3>
            <h3 class="pitch" id="pitch-3">start discovering now.</h3>
          </div>
          <div class="row home-search">
            <%= form_tag('/search', id: "search-form") do %>
              <%= text_field_tag "query", nil, id: "search-field-simple", placeholder: "Search for Music!", class: "search-field-simple" %>
              <%= button_tag type: 'submit', id: "search-submit-simple", disabled: "disabled" do %>
               <%= icon('search', class: "fa-2x") %>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>
      </div>



    <% end %>
  </div> <!-- big row -->
</div> <!-- container fluid -->
