<!DOCTYPE html>
<html>
  <head>
    <title>Koko</title>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Titillium+Web">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render '/layouts/navbar'%>
    <% if flash[:alert] || flash[:errors]%>
        <div class="alert"><%= flash[:alert] || flash[:errors] %></div>
    <%end%>
    <%=render 'layouts/signup' %>
    <%=render 'layouts/login' %>
    <%= yield %>
  </body>
  <!-- <footer>
<%= render '/layouts/footer'%>
  </footer> -->
</html>
