<!DOCTYPE html>
<html>
  <head>
    <title>Yelpify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render '/layouts/navbar'%>
    <% if flash[:alert] || flash[:error]%>
    <%= flash[:alert] || flash[:error] %>
    <%end%><br/>
    <%= yield %>
  </body>
</html>
